langgraph==0.2.74
langsmith
langchain-openai
langchain-community
langchain-tavily
langchain-experimental
tavily-python 
pandas 
openai
requests
azure-identity
IPython
azure-ai-agentserver-agentframework